.card {
  position: relative;
  width: 23%;
  margin: 1em;
  background: black;
  border-radius: 15px;
  min-width: 250px;
  flex-grow: 1;
}

/* Inset border and animation */
.card::before, .card::after {
  content: '';
  position: absolute;
  top: 1.25em;
  bottom: 1.25em;
  left: 1.25em;
  right: 1.25em;
}

.card::before {
  transform: scale(0, 1);
  transition: transform ease-out 250ms;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.card::after {
  transform: scale(1, 0);
  transition: transform ease-out 250ms;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.card:hover::before {
  transform: scale(1.05, 1);
}

.card:hover:after {
  transform: scale(1, 1.05);
}

/* Inset border and animation */
/* Image and image fade */
.card-img {
  width: 100%;
  display: block;
  transition: opacity ease-out 250ms;
  opacity: 1;
  border-radius: inherit;
}

.card:hover .card-img {
  opacity: .4;
}

.card-text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
  color: white;
  transition: opacity ease-out 250ms;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card:hover .card-text {
  opacity: 1;
}

/* Image and image fade */
