.backdrop-img {
  position: relative;
  width: 100vw;
  z-index: 1;
}

.movie-info {
  background: #FFF;
  border: 1px solid #979A93;
  border-radius: 15px;
  width: 50vw;
  padding: 3%;
  opacity: 0.9;
  position: absolute;
    top: 60%;
    left: 25%;
  z-index: 2;
}

.movie-title {
  font-size: 3em;
}

h3,
.avg-user-rating {
  font-size: 1.6em;
}

.movie-overview {
  font-size: 1.35em;
  margin: 5% 0;
}

.avg-user-rating {
  text-align: center;
}
