.backdrop-img {
  margin: 0 10%;
  width: 80vw;
}

.poster-path-img {
  height: 15em;
  position: absolute;
  bottom: 70%;
  right: 6%;
}

.movie-info {
  background: #FFF;
  border: 1px solid #979A93;
  border-radius: 15px;
  width: 50vw;
  padding: 3%;
  opacity: 0.9;
  position: absolute;
  top: 35%;
  left: 25%;
}

.movie-info h2 {
  font-size: 3em;
  width: 67%;
}

.movie-info h3 {
  font-size: 1.6em;
}

.movie-overview {
  font-size: 1.3em;
  line-height: 1.3em;
  margin: 8% 0;
}

.user-rating {
  font-size: 1.3em;
  text-align: center;
}

.back-button {
  font-size: 2rem;
  margin-top: -3%
}

.star-range {
  margin: 0 auto 1% auto;
  width: 3.3em;
}